label {
  display: none;
}
input[type="text"],
input[type="button"] {
  padding: 0.5em;
  font-size: 1em;
  width: 2em;
  text-align: center;
}
input[name="year"] {
  width: 3em;
}
input[type="button"] {
  display: block;
  width: 11.23em;
  background: black;
  color: white;
  border: none;
}
h2 {
  width: 175px;
  height: 257px;
  background: red;
}

.img-11 {
  background-image: url("images/11-lust-thoth.png");
}


